footer {
    background-color: #181818; 
    color: #f0f0f0; 
    padding: 20px 0; /* Decreased padding to reduce height */
    margin-top: 24px;
}
  
.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
  
.footer-section {
    flex: 1;
    padding: 0 10px; /* Decreased padding */
}
  
.footer-section.contact h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    border-bottom: 3px solid #00bcd4; 
    display: inline-block;
}
  
.footer-section.contact p {
    margin: 10px 0;
    font-size: 1rem;
}
  
.footer-section.logo-and-social {
    text-align: center;
}
  
.footer-section.logo-and-social .logo {
    width: 150px;
    margin-bottom: 10px;
}
  
.site-name {
    font-size: 1.5rem; /* Reduced font size */
    font-weight: bold;
    margin-bottom: 10px; /* Reduced margin */
    color: #f0f0f0;
}
  
.footer-section.logo-and-social p {
    font-size: 0.9rem; /* Reduced font size */
    margin-bottom: 15px; /* Reduced margin */
}
  
.social-media-icons {
    display: flex;
    justify-content: center;
}
  
.social-media-icons a {
    color: #f0f0f0; 
    margin: 0 5px; /* Reduced margin */
    transition: color 0.3s ease;
}
  
.social-media-icons a:hover {
    color: #00bcd4; 
}
  
.footer-section.quick-links {
    display: flex;
    justify-content: space-between;
}
  
.footer-section.quick-links h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    border-bottom: 3px solid #00bcd4; 
    display: inline-block;
}
  
.footer-section.quick-links ul {
    list-style: none;
    padding: 0;
}
  
.footer-section.quick-links ul li {
    margin-bottom: 10px;
}
  
.footer-section.quick-links ul li a {
    color: #f0f0f0;
    text-decoration: none;
    transition: color 0.3s ease;
}
  
.footer-section.quick-links ul li a:hover {
    color: #00bcd4; 
}
  
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
  
    .footer-section {
        text-align: center;
        margin-bottom: 20px; /* Reduced margin */
    }
  
    .footer-section.quick-links {
        flex-direction: column;
    }
}
  
* {
    text-decoration: none;
    font-family: poppins;
}

@font-face {
    font-family: poppins;
    src: url(Poppins-Regular.ttf);
}

.footer-bottom {
    background-color: #181A1D; 
    text-align: center;
    padding: 10px 0; /* Reduced padding */
    margin-top: 10px; /* Reduced margin */
    border-top: 1px solid #333; 
}

.footer-bottom p {
    margin: 0;
    color: #f0f0f0;
    font-size: 0.6rem;
}
